@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
}
h2{
  font-family: 'Allura', regular;
  color: forestgreen;
}

.backGround {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('https://i.pinimg.com/originals/21/1f/04/211f04d43dee3856c5c152d7b16d4a3c.jpg');
}

.fachada {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url('../src/assets/img/fachada.png');
}